// Tablet

@media only screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  //Index

  .container_index{
    display: flex;
    flex-direction: column;

    .row{
      display: flex;
      flex-direction: column;
      padding: 30px;

      .col_principal{
        width: 100%;
      }
    }
  }


  // Servicios
  #atributo_servicios {
    display: flex;
    flex-direction: column;

    img{
      max-width: 100%; 
      height: auto; 

    }

  }

  // Nosotros
  .sec_nosotros {
    display: flex;
    flex-direction: column;
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
  
    h1 {
      font-size: 2em;
    }
  
    p {
      font-size: 18px;
      text-align: justify;
      padding: 20px;
      letter-spacing: 2px;
    }
  
    img {
      max-width: 100%; 
      height: auto; 
    }
  }

  //Galeria

  .sec_galeria{

    h1{
      font-size: 24px;
    }

    h6{
      font-size: 18px;

    }

    .row{
      display: flex;
      flex-direction: column;

      .col{
        width: 100%;
      }

    }

    .img-galeria{
      max-width: 100%;
      height: auto;
    }

  }

  //Info

  .img-info{
    max-width: 100%;
    height: auto;
  }

  //Contacto

  .sec_contacto{
    
    p{
      display: flex;
      flex-direction: column;
    }

  }
  
  .formulario_contacto{
    display: flex;
    flex-direction: column;

  }


}

// Mobile

@media only screen and (max-width: $mobile-width) {

  // Index

  .container_index{
    display: flex;
    flex-direction: column;

    h1{
      font-size: 32px;
    }

    

    .row{
      display: flex;
      flex-direction: column;
      padding: 30px;

      .col_principal{
       width: 100%;
        p{
          padding: 0;
        }
      }
    }
    
  }
  
  //Servicios
  
  #atributo_servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    div {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  // Nosotros
  .sec_nosotros {
    display: flex;
    flex-direction: column;
    max-width: 400px; 
    margin: 0 auto; 
    
  
    h1 {
      font-size: 2em;
    }
  
    p {
      font-size: 14px;
      text-align: justify;
      padding: 20px;
      letter-spacing: 1px;
    }
  
    img {
      max-width: 100%; 
      height: auto; 
    }
  }

  // Galeria

  .sec_galeria{

    h1{
      font-size: 20px;
    }

    h6{
      font-size: 14px;

    }

    .row{
      display: flex;
      flex-direction: column;

      .col{
        width: 100%;
      }

    }

    .img-galeria{
      max-width: 100%;
      height: auto;
    }

  }

  //Info

  .sec_info{
    display: flex;
    flex-direction: column;

    h1{
      padding: 30px 0 30px;
    }

    img{ 
      display: none;
    }
  }

  // Contacto

  .sec_contacto{
    display: flex;
    flex-direction: column;
    margin: 0 60px;

    

  }
  
  .formulario_contacto{
    display: flex;
    flex-direction: column;
    margin: 0 60px;

    }
}