// Fuentes
$font-family: 'Catamaran', sans-serif;
$font-heading: 'Tillana', cursive;

// Media queries 
$mobile-width: 500px;
$tablet-min-width: 501px;
$tablet-max-width: 960px;
$desktop-min-width: 961px;
