// Fuentes
$font-family: 'Catamaran', sans-serif;
$font-heading: 'Tillana', cursive;

// Media queries 
$mobile-width: 576px;
$tablet-min-width: 577px;
$tablet-max-width: 991px;
$desktop-min-width: 992px;
