.cont-logo img {
  width: 100px;
  height: 100px;
}

.boton-a{
  color: #000000 ;
  text-decoration: none;
    
    
}
  
#id-body{
  background-image: url(../assets/resumen-superficie-texturas-muro-piedra-hormigon-blanco.jpg) ;
  background-size: 100%;
  background-repeat: auto;
    
}
.f-link {
  list-style: none;
}
  
.col{
  margin-top: 100px;
    
}

.btn-index{
 
  text-align: center;
  margin-top: 100px;
  
}
  